* {
    box-sizing : border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin     : 0;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

main {
    align-items    : center;
    display        : flex;
    flex-flow      : row nowrap;
    justify-content: center;
    padding        : 20px;
}

.beer-section {
    align-items    : center;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: space-around;
    margin-left    : auto;
    margin-right   : auto;
    padding        : 20px;
}

.beer-card {
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: space-between;
    border         : 1px solid darkgray;
    border-radius  : 10px;
    box-shadow     : 0 3px 3px 0 darkgray;
    margin         : 20px;
    position       : relative;
}

.beer-card-div {
    background: darkgray;
    border-radius: 10px 10px 0 0;
    padding   : 20px;
    height    : 233px;
    width     : 233px;
}

.beer-card-div>span {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    display            : block;
    height             : 193px;
    width              : 193px;
}

.beer-card-div-2 {
    align-items    : flex-start;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: space-between;
    padding        : 10px;
    height         : 144px;
    width          : 233px;
}

.beer-card-button {
    background : transparent;
    border     : 0;
    font-size  : 16px;
    font-weight: 600;
    padding    : 0;
    outline    : 0;
}

.beer-card-button:hover {
    cursor: pointer;
}

.beer-section-2 {
    align-items    : center;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    position       : fixed;
    top            : 10%;
    width          : 100%;
    z-index        : 1;
}

.beer-info {
    align-items     : flex-start;
    display         : flex;
    flex-flow       : row nowrap;
    justify-content : center;
    background-color: white;
    border          : 1px solid darkgray;
    border-radius   : 2px;
    box-shadow      : 0 3px 3px 0 darkgray;
}

.beer-info h4 {
    padding: 0 0 15px;
}

.beer-info-div {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    background     : darkgray;
    padding        : 20px;
    height         : 500px;
    width          : 309px;
}

.beer-info-div>span {
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : contain;
    display            : block;
    height             : 460px;
    width              : 269px;
}

.beer-info-div-2 {
    overflow-y: auto;
    padding   : 20px;
    height    : 500px;
    width     : 500px;
}

.beer-info-list {
    list-style  : url('./beer.png');
    padding-left: 25px;
}

.beer-info-list>li {
    padding: 0 0 10px;
}

.hidden {
    display: none;
}

.transparent {
    cursor : default;
    opacity: 0.5;
}

.invisible {
    visibility: hidden;
}

@media all and (max-width: 900px) {
    .beer-info {
        flex-flow: column;
    }

    .beer-info-div {
        height: 233px;
        width : 377px;
    }

    .beer-info-div>span {
        background-repeat: repeat-x;
        height           : 193px;
        width            : 337px;
    }

    .beer-info-div-2 {
        overflow-y: auto;
        height    : 377px;
        width     : 377px;
    }
}