* {
    box-sizing : border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin     : 0;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

main {
    align-items    : center;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: center;
    padding        : 20px;
}

.beer-section {
    align-items    : center;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    padding        : 20px;
}

.beer-card {
    align-items        : flex-start;
    display            : flex;
    flex-flow          : column nowrap;
    justify-content    : space-between;
    /* background-color: darkgray; */
    border             : 1px solid darkgray;
    border-radius      : 2px;
    box-shadow         : 0 3px 3px 0 darkgray;
    margin             : 10px;
    padding            : 0;
    position           : relative;
    height             : 400px;
    width              : 250px;
}

.beer-card-div {
    background: darkgray;
    padding   : 20px;
    height    : 400px;
    width     : 100%;
}

.beer-card-div>span {
    background     : darkgray no-repeat center;
    background-size: contain;
    display        : block;
    height         : 200px;
}

.beer-card-div-2 {
    align-items    : flex-start;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: space-between;
    padding        : 10px;
    height         : 100%;
    width          : 100%;
}

.beer-card-button {
    background : transparent;
    border     : 0;
    font-size  : 16px;
    font-weight: 600;
    padding    : 0;
    outline    : 0;
}

.beer-card-button:hover {
    cursor: pointer;
}

.beer-section-2 {
    align-items    : center;
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    position       : fixed;
    top            : 10%;
    width          : 100%;
    z-index        : 1;
}

.beer-info {
    align-items        : flex-start;
    display            : flex;
    flex-flow          : row nowrap;
    justify-content    : left;
    background-color   : white;
    border             : 1px solid darkgray;
    border-radius      : 2px;
    box-shadow         : 0 3px 3px 0 darkgray;
    /* padding         : 20px; */
    width              : 80%;
}

.beer-info h4 {
    padding: 0 0 15px;
}

.beer-info-div {
    background: darkgray;
    padding   : 20px;
    height    : 400px;
    min-width : 240px;
}

.beer-info-div>span {
    background     : no-repeat center;
    background-size: contain;
    display        : block;
    height         : 100%;
    min-width      : 200px;
}

.beer-info-div-2 {
    overflow-y: auto;
    padding   : 20px;
    height    : 400px;
    width     : 75%;
    z-index   : 1;
}

.beer-info-list {
    list-style  : url('./beer.png');
    padding-left: 25px;
}

.beer-info-list>li {
    padding: 0 0 10px;
}

.hidden {
    display: none;
}

.transparent {
    cursor : default;
    opacity: 0.5;
}

.invisible {
    visibility: hidden;
}

/* .beer-info-list>li {
    max-height: 200px;
} */

@media only screen and (max-width: 700px) {
    .beer-info {
        align-items    : center;
        display        : flex;
        flex-flow      : column;
        justify-content: center;
        width          : 80%
    }

    .beer-info-div {
        height: 200px;
        width : 100%;
    }

    .beer-info-div>span {
        background-repeat: repeat;
        height           : 160px;
    }

    .beer-info-div-2 {

        height: 400px;
        width : 100%;
    }

}